body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgrey !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.border-gray {
  border-color: rgba(221,221,221,1);
}
.cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
title {
  font-weight: bolder;
  color: black;
}
.custom {
  position: relative;
}
.count {
  color: black;
  border-radius: 50%;
  background-color: yellow;
  width: 40px;
  height: 40px;
  transform: scale(0.6) !important;
  position: absolute;
  left: 60%;
  bottom: 50%;

}
.ht {
  width: 100%;
  padding-bottom: 100%;
  height: 0;
  scale: 1;
}
.cart-icon {
  position: relative;

}
.less {
  width: 65%;
  transform: scale(0.9) ;
}
.search-margin {

}

@media (max-width: 400px) {
  .ht {
    scale: 1.2;
  }
}

@media (min-width: 992px) {

  .less {
    width: 100%;
  }
  .cart-icon{
    position: relative;
    left: 48vw;
   
  }
  .search-margin {
      margin: 0 120px 0 120px;
  }
}
.margin-right{
  margin-right: 50px;
}
.action:hover{
  cursor: pointer;
  color: green;
}
.action-del:hover {
  cursor: pointer;
  color: red;
}
